@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    background: url(../imagens/wallpaper.jpg) center center no-repeat fixed;
    background-size: cover;
}

#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 311px;
    height: 627px;
    background: url(../imagens/frame-iphone.png) center center no-repeat;
}
/* Aqui é onde as configurações de tela estão localizados */
#tela {
    position: absolute;
    top: 80px;
    left: 22px;
    width: 268px;
    height: 471px;
}

#ancora img {
    height: 40px;
    padding: 6px;
    border-radius: 50%;
}
/* configurando a funçao hover dos botões */
#ancora img:hover {
    height: 45px;
    transition-duration: .4s;
    cursor: pointer;
}